@page
@model SSD_Project.Pages.Facilities.IndexModel

@{
    ViewData["Title"] = "Index";
    
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>


    @foreach (var item in Model.Facility)
    {
    <div class="card">
        <img src=@Url.Content(@item.FilePath) alt="Avatar" style="width:100%">
        <div class="container">

            <h4><b> @Html.DisplayFor(modelItem => item.Name)</b></h4>
            <p>@Html.DisplayFor(modelItem => item.Description)</p>


            <a class="button" asp-page="./Edit" asp-route-id="@item.FacilityID">Edit</a> |
            <a asp-page="./Details" asp-route-id="@item.FacilityID">Details</a> |
            <a asp-page="./Delete" asp-route-id="@item.FacilityID">Delete</a>
        </div>
    </div>
  

    }


